*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.heading{
    display:flex;
    flex-direction: column;
    background: cadetblue;
    padding: 10px;
    
    h1,h3{
        background: cadetblue;
        color: cyan;
        margin: 10px auto;
    }

}


form{
    
    display: flex;
    input[type="text"]{
        height: 40px;
        width: 250px;
        border-radius: 9999px;
        border: 1px solid #707070;
        outline: none;
        padding: 15px;
        font-size: 16px;
        margin: 10px auto;
    }
}

.todos{
    display: flex;
    flex-direction: column;

    li{
        padding: 5px;
        list-style: none;
        margin: 0 auto;
        max-width: 500px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        span{
            padding: 0 50px;
        }
        i{
            padding: 10px;
        }
    }

}
.notfound{
    display: none !important;
}