*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1,h3{
    background: cadetblue;
    color: cyan;
}

form{
    .searchArea{
        padding: 10px;
    }
    ul{
        display: inline;
    }

    li{
        list-style: none;
    }

}